.banner-company {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: 28.125rem;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: center;
}

.banner-company img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sc-11unfkk-0 {
    position: absolute;
    z-index: 2;
}

.dKeDpI {
    min-width: 0px;
    width: 100%;
    max-width: 78rem;
    margin: 0px auto;
    padding: 0px 1.25rem;
}

.jPnEqu {
    position: relative;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-left: 13.5rem;
}

.head-title {
    position: relative;
    z-index: 2;
    padding-left: 2.5rem;
    padding-bottom: 1.5rem;
}

.title-header-company {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 1.2;
    letter-spacing: -0.9px;
    text-align: left;
    margin-bottom: 0.9375rem;
}

.position-header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -0.375rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3;
    letter-spacing: -0.3px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
}

.banner-company:after {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: " ";
}

.position-header li {
    margin: 0px 0.8125rem 0.3rem 0px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.3px;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    display: inline;
}

.position-header li i {
    margin-right: 10px;
}

.btn-web {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 300ms ease 0s;
    color: rgb(255, 255, 255);
}

.wui-text {
    background-image: linear-gradient( 0deg, #397DC0, #397DC0 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: calc(200% - 1px);
    transition: background-position-y 0.25s ease 0s;
}

.btn-web:hover>.wui-text,
.btn-web:focus>.wui-text {
    color: rgb(255, 255, 255);
    opacity: 1;
    background-position-y: 100%;
}

.menu-bottom-company {
    margin-bottom: 1.5rem;
    transition: all 300ms ease 0s;
    height: 3.25rem;
    min-height: auto;
    position: relative;
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
}

.menu-item-company {
    z-index: 99;
    height: 3.25rem;
    transition: all 300ms ease 0s;
    background-color: rgb(228 236 239);
    backface-visibility: hidden;
}

.menu-item-company .sc-11unfkk-0 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.logo-big-company {
    position: absolute;
    left: 1.5rem;
    bottom: calc(-1.5rem);
    width: 12.5rem;
    height: 12.5rem;
    border: 1px solid rgb(229, 229, 229);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    transition: all 300ms ease 0s;
    z-index: 1;
}

.logo-big-company img {
    width: 100%;
}

.FNubF {
    position: relative;
    width: calc(15rem);
    height: 100%;
    overflow: hidden;
    padding-right: 1.5rem;
}

.nav-menu-item {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-menu-item ul {
    position: relative;
    z-index: 3;
    display: inline-flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 100%;
}

.nav-menu-item ul li:first-child {
    padding-left: 0px;
}

.nav-menu-item ul li {
    position: relative;
    margin-right: 0.75rem;
    padding: 0px 0.75rem;
    min-width: auto;
}

.btn-write {
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(239, 234, 228);
    z-index: 3;
}

.btn-write button {
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: 0px;
    border-radius: 0px;
    background-color: rgb(228 236 239);
    border-color: rgb(0, 0, 0);
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    padding: 6px 0.9375rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    appearance: none;
    overflow: hidden;
    transition: all 300ms ease 0s;
    height: 2rem;
    outline: none !important;
}

.btn-write button img {
    width: 25px;
    margin-right: 5px;
}

.menu-custom .menu-item-company {
    position: fixed;
    top: calc(4.6rem + 0px);
    left: 0px;
    width: 100%;
}

.logo-small-company {
    width: 3rem;
    height: 2.4rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo-small-company img {
    width: 100%;
}

.name-company-small {
    flex: 1 1 auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3;
    letter-spacing: -0.3px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    margin-bottom: 0;
}

.eiqbFV {
    flex: 0 0 auto;
    align-self: stretch;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 0.8125rem;
    padding: 0.3rem;
    border-right: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    border-top-color: rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);
}

.menu-bottom-company .q4qgh9-17 {
    backface-visibility: hidden;
    transform: translateY(100%);
}

.menu-custom .q4qgh9-17 {
    backface-visibility: hidden;
    transform: translateY(0px);
}

.eTvSoQ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    transition: all 300ms ease 0s;
}

.menu-custom .logo-big-company {
    backface-visibility: hidden;
    transform: translateY(-100%);
}

.nav-menu-item ul li a {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0px;
    border: none;
    background: none;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: -0.3px;
    font-weight: 500;
    color: rgb(107, 105, 102);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jos-infor {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #397DC0;
    font-size: 0.75rem;
    line-height: 1.3;
    letter-spacing: -0.2px;
    font-family: welcome-font, sans-serif, sans-serif;
    font-weight: 500;
    color: #fff;
}

.follow-tilte {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.follow-icon-item {
    padding: 1.25rem 0.9375rem;
    border-right: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    border-left: 1px solid rgb(229, 229, 229);
    border-image: initial;
    border-top: none;
    text-align: center;
}

.follow-tilte::before,
.follow-tilte::after {
    content: "";
    position: absolute;
    top: 60%;
    width: 0.25rem;
    height: 50%;
    border-top: 1px solid rgb(229, 229, 229);
}

.follow-tilte::before {
    left: 0px;
    border-left: 1px solid rgb(229, 229, 229);
}

.follow-tilte::after {
    right: 0px;
    border-right: 1px solid rgb(229, 229, 229);
}

.follow-name span::before {
    right: 100%;
    margin-right: 0.5rem;
}

.follow-name span::before,
.follow-name span::after {
    position: absolute;
    top: 50%;
    width: 200%;
    height: 1px;
    margin-top: -1px;
    background-color: rgb(229, 229, 229);
    content: " ";
}

.follow-name span::after {
    left: 100%;
    margin-left: 0.5rem;
}

.follow-name span {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.follow-icon-item ul {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.follow-icon-item ul li:first-child {
    margin-left: 0px;
}

.follow-icon-item ul li {
    margin: 0px 0.75rem;
}

.follow-name {
    margin-bottom: 0;
}

.tablet-company {
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: -0.3px;
    border: 1px solid rgb(229, 229, 229);
}

.tablet-company ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
}

.tablet-company ul li {
    position: relative;
    flex: 1 1 auto;
    width: 50%;
    z-index: 2;
    padding: 0.9375rem 0.75rem;
    text-align: center;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.tablet-company ul li::before,
.tablet-company ul li::after {
    position: absolute;
    background-color: rgb(229, 229, 229);
    content: " ";
}

.tablet-company ul li::before {
    top: 0px;
    left: -1px;
    width: 1px;
    height: 100%;
}

.tablet-company ul li::after {
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1px;
}

.tablet-company ul li h4 {
    font-weight: 500;
    font-size: 0.6875rem;
    line-height: 1.2;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: rgb(115, 115, 115);
    margin-bottom: 0.5rem;
}

.bWFoBD {
    display: inline-block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.6px;
}

.img-compamy-big {
    width: 100%;
    height: 382px;
    object-fit: cover;
}

.img-compamy-small {
    width: 100%;
    height: 206px;
    object-fit: cover;
}

.box__heading i {
    font-size: 14px;
    margin-right: 10px;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.box__heading i:after {
    content: '♦';
}

.morecontent span {
    display: none;
}

.morelink {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    color: #000;
}

.morelink:after {
    content: '';
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: 6px;
    margin-left: 10px;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
    transform-origin: bottom;
}

.morelink.less:after {
    margin-left: 7px;
    transform: rotate(135deg);
}

.tablet-chitiet table td,
.tablet-chitiet table th {
    padding: .75rem 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6!important;
    font-size: 16px;
}

.tablet-chitiet table p {
    margin-bottom: 0;
}

.tablet-chitiet table td:first-child {
    width: 32%;
    font-weight: 700;
}

.tablet-chitiet table {
    width: 100%;
    border-collapse: inherit;
}

.tablet-chitiet table td:last-child {
    width: 68%;
    padding-left: 5px;
}

.mota-ngan .mota {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 0;
}

.img-wrapper {
    position: relative;
    margin-top: 15px;
}

.img-wrapper img {
    width: 100%;
    height: 206px;
    object-fit: cover;
}

.img-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.img-overlay i {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background-color: #397DC0;
    border-radius: 20px;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    #overlay img {
        width: 60%;
        height: 554px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {
    #overlay img {
        width: 50%;
        height: 554px;
        object-fit: cover;
    }
}

#nextButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#nextButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #nextButton {
        font-size: 3em;
    }
}

#prevButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
}

#prevButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #prevButton {
        font-size: 3em;
    }
}

#exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #exitButton {
        font-size: 3em;
    }
}

.text-tong-danh-gia {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.tong-so-sao-danh-gia {
    font-size: 2.2em;
    text-align: center;
}

.fa-star {
    color: #ff7849;
}

.block-danh-gia .content>img,
.block-danh-gia .content>p {
    display: inline-block;
}

.block-danh-gia .content>p {
    font-size: 1.2em;
}

.hr-fill-1 {
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    margin: 16px 0;
    border-top: 1px #aaa solid;
    text-align: center;
}

.box-danh-gia-khach-hang .xep-hang-danh-gia {
    margin-bottom: 5px;
    padding-left: 1px;
    font-size: 1.3em;
    font-weight: 600;
    color: #333;
}

.box-danh-gia-khach-hang {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

.box-tra-loi-danh-gia .van-ban-tra-loi {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}

.box-tra-loi-danh-gia {
    margin-top: 20px;
}

.hr-fill-2 {
    position: relative;
    display: block;
    height: 0;
    width: auto;
    margin: 16px 0;
    border-top: 1px #eee solid;
    text-align: center;
}

.box-danh-gia-khach-hang .tac-gia {
    text-align: end;
    margin-bottom: 0px;
}

.sticky-sibar {
    width: 100%;
    height: 100%;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 14%;
}

.paper {
    border: solid 1px #ebf0f6;
    border-radius: .375rem;
    background: #fefefe;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* margin: 0 0 1.5rem 0; */
}

.box__heading {
    border-bottom: solid #cacaca 1px;
    padding: .75rem 1rem;
}

.box-danh-gia-khach-hang .xep-hang-danh-gia img {
    width: 18px;
    height: 18px;
}

.box-danh-gia-khach-hang .img-wrapper img {
    height: 119px;
    object-fit: cover;
}

.box-danh-gia-khach-hang .img-overlay {
    height: 119px;
}

.tieu-de-danh-gia {
    margin-bottom: 5px;
}

#more {
    display: none;
}

.btn-detail {
    border: 1px solid #397DC0;
    border-radius: 5px;
    color: #397DC0;
    display: block;
    margin: 0 auto;
    max-width: 340px;
    padding: 10px 125px;
    position: relative;
    text-align: center;
    background-color: #fff;
}

.btn-detail:focus {
    outline: none;
}

.bg-article {
    background: linear-gradient(to bottom, rgba(255 255 255/0), rgba(255 255 255/62.5), rgba(255 255 255/1));
    margin-top: -100px;
    margin-left: 30px;
    height: 148px;
    left: 0;
    position: absolute;
    width: 94%;
}


/*!
	By André Rinas, www.andrerinas.de
	Documentation, www.simplelightbox.de
	Available for use under the MIT License
	Version 2.8.0
*/

body.hidden-scroll {
    overflow: hidden;
}

.sl-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.7;
    display: none;
    z-index: 1035;
}

.sl-wrapper {
    z-index: 1040;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.sl-wrapper * {
    box-sizing: border-box;
}

.sl-wrapper button {
    border: 0 none;
    background: transparent;
    font-size: 28px;
    padding: 0;
    cursor: pointer;
}

.sl-wrapper button:hover {
    opacity: 0.7;
}

.sl-wrapper .sl-close {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10060;
    margin-top: -14px;
    margin-right: -14px;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-family: Arial, Baskerville, monospace;
    color: #000;
    font-size: 3rem;
}

.sl-wrapper .sl-counter {
    display: none;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1060;
    color: #000;
    font-size: 1rem;
}

.sl-wrapper .sl-navigation {
    width: 100%;
    display: none;
}

.sl-wrapper .sl-navigation button {
    position: fixed;
    top: 50%;
    margin-top: -22px;
    height: 44px;
    width: 22px;
    line-height: 44px;
    text-align: center;
    display: block;
    z-index: 10060;
    font-family: Arial, Baskerville, monospace;
    color: #000;
}

.sl-wrapper .sl-navigation button.sl-next {
    right: 5px;
    font-size: 2rem;
}

.sl-wrapper .sl-navigation button.sl-prev {
    left: 5px;
    font-size: 2rem;
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-navigation button {
        width: 44px;
    }
    .sl-wrapper .sl-navigation button.sl-next {
        right: 10px;
        font-size: 3rem;
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 10px;
        font-size: 3rem;
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-navigation button {
        width: 44px;
    }
    .sl-wrapper .sl-navigation button.sl-next {
        right: 20px;
        font-size: 3rem;
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 20px;
        font-size: 3rem;
    }
}

.sl-wrapper.sl-dir-rtl .sl-navigation {
    direction: ltr;
}

.sl-wrapper .sl-image {
    position: fixed;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 10000;
}

.sl-wrapper .sl-image img {
    margin: 0;
    padding: 0;
    display: block;
    border: 0 none;
    width: 100%;
    height: auto;
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-image img {
        border: 0 none;
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-image img {
        border: 0 none;
    }
}

.sl-wrapper .sl-image iframe {
    background: #000;
    border: 0 none;
}

@media (min-width: 35.5em) {
    .sl-wrapper .sl-image iframe {
        border: 0 none;
    }
}

@media (min-width: 50em) {
    .sl-wrapper .sl-image iframe {
        border: 0 none;
    }
}

.sl-wrapper .sl-image .sl-caption {
    display: none;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sl-wrapper .sl-image .sl-caption.pos-top {
    bottom: auto;
    top: 0;
}

.sl-wrapper .sl-image .sl-caption.pos-outside {
    bottom: auto;
}

.sl-wrapper .sl-image .sl-download {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #000;
    z-index: 1060;
}

.sl-spinner {
    display: none;
    border: 5px solid #333;
    border-radius: 40px;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1007;
    -webkit-animation: pulsate 1s ease-out infinite;
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
}

.sl-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.sl-transition {
    transition: -moz-transform ease 200ms;
    transition: -ms-transform ease 200ms;
    transition: -o-transform ease 200ms;
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms;
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-moz-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-o-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-ms-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.review__actions {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #dcdce6;
}

.review-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: -6px;
}

.review-actions__main {
    display: flex;
}

.button--light,
.button--light-shadow,
.button--link,
.button--subtle {
    padding: 4px 8px;
}

.button--subtle {
    background-color: transparent;
    color: #73738f;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: .875rem;
}

.date {
    margin-bottom: 0;
    font-size: 14px;
}

.modal button.close {
    right: 0;
    outline: 0;
}

#gallery-lightbox img {
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

#gallery-lightbox img:hover {
    opacity: 0.9;
    transition: 0.5s ease-out;
}

#img-lightbox img {
    height: 503px;
    object-fit: cover;
}

.btn {
    outline: none;
    cursor: pointer;
    background-color: #e8e8e8;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

i.fa {
    margin-right: 8px;
}

.review-action button {
    color: #397DC0;
}

.custom-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.btn-review button {
    width: 100%;
    background-color: #397DC0;
    padding: 5px 5px;
    font-weight: 500;
    color: #fff;
    border-color: #397DC0;
}

.btn-review button:focus {
    outline: none;
}

.btn-review button img {
    width: 25px;
    margin-right: 5px;
}

.status-cmt {
    font-size: 14px;
    margin-left: 5px;
    color: #73738f;
}


/* .info-related {
    border: 1px solid rgb(229, 229, 229);
} */

.info-related-title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.4px;
    display: block;
    padding: 0.9375rem 1.25rem;
    background-color: rgb(228 236 239);
    margin-bottom: 0;
}

.cFeLrU {
    display: block;
    padding: 1.25rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    color: rgb(0, 0, 0);
}

.cFeLrU:last-child {
    border-bottom: none;
}

.info-name {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: -0.6px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
}

.icon-box {
    display: flex;
    width: 100%;
}

.icon-box .img-box {
    width: 30%;
}

.icon-box .text-box {
    width: 70%;
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
}

.icon-box .img-box img {
    width: 100%;
    object-fit: contain;
}

.modal-card-danh-gia label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

.has-text-danger {
    color: #ff3860;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    display: block;
    width: 92px;
    height: 92px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.upload-options {
    position: relative;
    height: 25px;
    background-color: cadetblue;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
}

.upload-options:hover {
    background-color: #7fb1b3;
}

.upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.upload-options label::after {
    content: "Ảnh";
    font-family: "Material Icons";
    position: absolute;
    font-size: 16px;
    color: #e6e6e6;
    /* top: calc(50% - 2.5rem); */
    left: calc(54% - 1.25rem);
    z-index: 0;
}

.upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.upload-options label span:hover i.material-icons {
    color: lightgray;
}

.js--image-preview {
    height: 67px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.js--image-preview::after {
    content: "photo_size_select";
    position: relative;
    font-size: 12px;
    color: #e6e6e6;
    top: calc(100% - 3rem);
    left: calc(42% - 2.25rem);
    z-index: 0;
}

.js--image-preview.js--no-default::after {
    display: none;
}

.js--image-preview:nth-child(2) {
    background-image: url("http://bastianandre.at/giphy.gif");
}

i.material-icons {
    transition: color 100ms ease-in-out;
    font-size: 2.25em;
    line-height: 55px;
    color: white;
    display: block;
}

.drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    transform: scale(0);
}

.animate {
    -webkit-animation: ripple 0.4s linear;
    animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

#full-stars-example .rating-group {
    display: inline-flex;
}

#full-stars-example .rating__icon {
    pointer-events: none;
}

#full-stars-example .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars-example .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1.7rem;
}

#full-stars-example .rating__icon--star {
    color: orange;
}

#full-stars-example .rating__icon--none {
    color: #eee;
}

#full-stars-example .rating__input--none:checked+.rating__label .rating__icon--none {
    color: red;
}

#full-stars-example .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

#full-stars-example .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
    color: #eee;
}

#full-stars-example .rating__input--none:hover+.rating__label .rating__icon--none {
    color: red;
}

@media (max-width:768px) {
    .tablet-company ul li {
        padding: 10px;
    }
    .head-title {
        padding-left: 4.5rem;
    }
    .menu-custom .menu-item-company {
        top: calc(7.5rem + 0px);
    }
    .img-wrapper img {
        height: 144px;
    }
    .tong-so-sao-danh-gia {
        font-size: 25px;
    }
    .box-danh-gia-khach-hang .xep-hang-danh-gia {
        font-size: 16px;
    }
    #gallery-lightbox img {
        height: 77px;
    }
    #site-header {
        background-color: #fff;
        padding-bottom: 10px;
    }
    .bg-article {
        width: 87%;
    }
}

@media (max-width:420px) {
    .btn-detail {
        padding: 6px 94px;
    }
    .dKeDpI {
        padding: 0px 0.75rem;
    }
    .head-title {
        padding-left: 0;
    }
    .logo-big-company {
        left: 6.5rem;
        top: -17rem;
        display: block;
        margin: 0px auto 0.9375rem;
        width: 9rem;
        height: 9rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0px;
    }
    .title-header-company {
        font-size: 1.25rem;
        text-align: center;
    }
    .position-header {
        -webkit-box-pack: center;
        justify-content: center;
    }
    .jPnEqu {
        padding-left: 0px;
        text-align: center;
    }
    .FNubF {
        padding-right: 0;
    }
    .nav-menu-item ul li {
        padding: 0;
        margin-right: 0.55rem;
    }
    .btn-write button {
        padding: 3px 0.375rem;
        height: auto;
    }
    .menu-custom .menu-item-company {
        position: relative;
    }
}

.table-custom {
    margin-bottom: 0px;
    width: 100%;
}

.table-custom td {
    border-top: 0px;
    padding-top: 0px;
    font-size: 14px;
    color: #666;
    word-break: break-word;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
}

.box-cty-custom {
    padding-top: 10px;
    border: 1px solid #f3f8fe;
    background-color: #fff;
}