a:hover {
    text-decoration: none;
}

a {
    color: #707070;
}

ul li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.badge-primary {
    background-color: #397DC0;
}

.btn-primary {
    background-color: #397DC0;
}

.btn-outline-primary {
    color: #397DC0;
    border-color: #397DC0;
}

.btn-secondary {
    color: #000;
}

.container-one {
    padding-bottom: 80px;
}

@media (min-width:1200px) {
    .modal-card-danh-gia .modal-dialog {
        max-width: 596px;
        margin: 1.75rem auto;
    }
    .modal-card-danh-gia .modal-dialog {
        max-width: 596px;
        margin: 1.75rem auto;
    }
}


/* ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 14px;
}

::-webkit-scrollbar-thumb {
    background: #dfe6ed;
} */

.shadow {
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%)!important;
}

body {
    /* font-family: 'Raleway', sans-serif; */
    color: #090d12;
    overflow-x: auto;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 10;
}

.logo-page {
    width: 185px;
}

.scrolling-active {
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    background-image: none;
}

.container {
    max-width: 1250px;
}

.header-inner {
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
}

.header-inner .header-navigation-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper {
    display: block;
    width: 100%;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper .primary-right {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 0;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper .primary-right li {
    color: #363636;
    font-weight: 500;
    padding: 0 1.2em;
    line-height: 40px;
    display: inline-block;
    position: relative;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper .primary-right li a {
    font-weight: 600;
    color: #000;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper .primary-right li a img {
    width: 25px;
}

.header-inner .header-navigation-wrapper .primary-menu-wrapper .primary-right li .btn-login {
    padding: 6px 9px 8px 9px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #397DC0;
}

.header-inner .header-titles {
    align-items: center;
    display: flex;
    flex: 1;
}

.header-inner .header-titles .primary-left {
    margin-bottom: 0;
}

.header-inner .header-titles .primary-left li {
    color: #363636;
    font-weight: 500;
    padding: 0 1.2em;
    font-size: 18px;
    line-height: 40px;
    display: inline-block;
    position: relative;
}

.header-inner .header-titles .primary-left li a {
    font-weight: 600;
    color: #000;
}

.menu-mobile {
    display: none;
}

.sticky-sibar {
    width: 100%;
    height: 100%;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 14%;
}

@media (max-width:768px) {
    .menu-mobile {
        display: none;
    }
}

.web-container-general {
    display: none;
}

@media (max-width: 420px) {
    .logo-mobile {
        width: 123px;
    }
    .menu-mobile {
        background: #fff;
        display: block;
    }
    .header-inner {
        display: none;
    }
    .topic-home li {
        display: block;
        line-height: 21px;
        font-size: 21px;
        margin-left: 0;
        padding: 12px 30px 12px 12px;
    }
    .topic-home li a {
        padding-left: 8.76px;
    }
    .banner-page {
        padding-top: 65px;
        background-color: #ecf3f787;
    }
    .web-container-general {
        max-width: 500px;
        position: relative;
        display: block;
    }
    .web-container-general .main-container {
        z-index: 1;
        position: relative;
    }
    #main {
        margin-top: 82px;
    }
    .web-container-general .nav-menu-wrap-general {
        overflow-y: auto;
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        -webkit-transition: all 450ms ease-in-out;
        -moz-transition: all 450ms ease-in-out;
        transition: all 450ms ease-in-out;
        z-index: 3;
        -moz-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -webkit-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -ms-transform: translate(-100%, 0%) rotate(90deg);
        -o-transform: translate(-100%, 0%) rotate(90deg);
        transform: translate3d(-45.7rem, 0, 1rem);
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .web-container-general .nav-menu-wrap-general.active {
        -moz-transform: translate3d(0%, 0px, 0px) rotate(0deg);
        -webkit-transform: translate3d(0%, 0px, 0px) rotate(0deg);
        -ms-transform: translate(0%, 0%) rotate(0deg);
        -o-transform: translate(0%, 0%) rotate(0deg);
        transform: translate3d(0%, 0px, 0px) rotate(0deg);
    }
    .web-container-general .nav-menu-background-general {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #222;
        background: rgba(0, 0, 0, 0.75);
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in-out;
        -moz-transition: opacity 400ms ease-in-out;
        -o-transition: opacity 400ms ease-in-out;
        transition: opacity 400ms ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        z-index: 0;
    }
    .web-container-general .nav-menu-background-general.active {
        opacity: 1;
        z-index: 3;
    }
    .web-container-general .menu-general {
        margin: 0px;
        padding: 0px;
        height: auto;
    }
    .web-container-general .nav-menu-general {
        position: relative;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        background: #e9eff5;
        padding: 10px;
    }
    .web-container-general .nav-menu-general .close div {
        padding: 10px 15px;
        cursor: pointer;
        background: #ccc;
        -moz-transition: all 300ms ease;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .web-container-general .nav-menu-general .close div:hover,
    .web-container-general .nav-menu-general .close div:active {
        background: #aaa;
    }
    .web-container-general .nav-menu-wrap-general {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 100%;
        -webkit-transition: all 450ms ease-in-out;
        -moz-transition: all 450ms ease-in-out;
        transition: all 450ms ease-in-out;
        z-index: 11;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .strip_list .desc .thumb_strip {
        width: 100px;
        height: 100px;
    }
}

.custom-pagination {
    font-size: 13px;
    -webkit-box-align: stretch!important;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.custom-pagination .page-item .page-link {
    color: #000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0 2px;
    text-align: center;
}

.custom-pagination.pagination-info .page-item.active .page-link {
    background-color: #397DC0;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgb(28 199 208 / 20%);
    box-shadow: 0 2px 5px 0 rgb(28 199 208 / 20%);
}

.drawer {
    background: #fff;
    margin: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    max-width: 352px;
    top: 0;
    right: -100%;
    transition: right 0.3s ease-out;
}

.drawer .content {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.drawer .content .header {
    padding: 1.25rem;
}

.drawer .content .header .cross {
    color: #8993a4;
    font-weight: 600;
    position: absolute;
    right: 1.25rem;
    font-size: 1.25rem;
    top: 1rem;
}

.drawer .content .header .header_text_wrap .drawer_text {
    font-weight: 600;
}

.ab_btn {
    padding: 7px 14px;
    min-width: 120px;
    cursor: pointer;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    background-color: #397DC0;
    border: 1px solid #397DC0;
    color: #fff;
    border-radius: 1.5rem;
    outline: none;
}

.btn span {
    font-size: .8125rem;
    font-weight: 600;
    color: #fff;
}

.nav-links {
    border-top: solid 1px #e9e8f9;
    padding-top: .625rem;
}

.nav-links a {
    display: flex;
    width: 100%;
    padding: .625rem 1.25rem;
    text-decoration: none;
    font-weight: 600;
}

.sbold-list-header {
    font-size: .875rem;
    line-height: 1.43;
}

.nav-links li {
    position: relative;
    list-style: none;
    display: inline-block;
}

.badge-orange.awards {
    background-color: #FFF2CF;
    color: #AD7E0D;
    font-size: .625rem;
    border-radius: 3px;
    line-height: 1.43;
    margin-left: .4375rem;
    height: fit-content;
    display: inline-block;
    vertical-align: middle;
}

.nav-links .contribute {
    border-top: solid 1px #e9e8f9;
    padding-left: 1.25rem;
    margin-top: .625rem;
}

.nav-links .contribute p {
    color: #97A0BE;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    margin-bottom: 0;
}

.nav-links {
    padding-top: .625rem;
}

.nav-links .contribute .btn {
    padding: .34375rem .96875rem;
    margin-bottom: 10px;
}

.tts .hh2 {
    font-size: 18px;
    border: 1px solid #dee2e6;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    display: inline-block;
}