.banner-page {
    padding-top: 170px;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: -338px -11px;
}

.title-under {
    font-size: 18px;
}

.selectable-menu__header {
    color: #397DC0;
    font-size: 45px;
    font-weight: 700;
}

.nav-custom {
    display: block;
}

.nav-custom .nav-link.active {
    border-color: #397DC0;
    border-radius: .1875rem;
    color: #397DC0;
}

.nav-custom .nav-link {
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: .375rem .75rem;
}

.btn-all {
    text-align: right;
    padding-bottom: 8px;
}

.btn-all a {
    color: #397DC0;
    font-size: 18px;
    font-weight: 600;
}

.selectable-menu__card {
    border: 1px solid #cacaca;
    background-color: #fefefe;
    border-radius: .3125rem;
    margin-bottom: 25px;
}

.selectable-menu__card .p-half {
    padding: .75rem;
}

.selectable-menu__card .p-half .selectable-menu__card--name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #252530;
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: .1875rem;
}

.selectable-menu__card .p-half .selectable-menu__card--review-count {
    font-size: .75rem;
    padding-left: .375rem;
}

.selectable-menu__card .p-half .d-flex {
    align-items: center;
}

.selectable-menu__card .p-half .d-flex .stars i {
    font-size: 13px;
    color: #ff7849;
}

.selectable-menu__card .p-half .selectable-menu__card__image-wrapper {
    height: 80px;
    width: 80px;
    -ms-flex-align: center;
    align-items: center;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.selectable-menu__card .p-half .selectable-menu__card__image-wrapper img {
    width: 100%;
}

.icon-box {
    display: flex;
    margin-bottom: 30px;
}

.icon-box .img-box {
    width: 74px;
}

.icon-box .img-box img {
    width: 100%;
}

.icon-box .text-box {
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
}

.strip_list {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    border: 1px solid #ededed;
    min-height: 129px;
    margin-bottom: 30px;
    line-height: 1.3;
    display: block;
}

.strip_list .ribbon {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.strip_list .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#397DC0 0%, #007bff 100%);
    position: absolute;
    top: 19px;
    left: -21px;
}

.strip_list .ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #397DC0;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #397DC0;
}

.strip_list .ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #397DC0;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #397DC0;
}

.strip_list .desc {
    padding-left: 125px;
    position: relative;
}

.strip_list .desc .thumb_strip {
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    height: 110px;
    border: 1px solid #ededed;
    padding: 5px;
    align-items: center;
    display: flex;
}

.strip_list .desc .thumb_strip img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.strip_list .desc .rating {
    color: #ff7849;
    padding-top: 0;
    font-size: 14px;
    width: 79px;
}

.strip_list .desc h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
}

.strip_list .desc .type {
    font-size: 12px;
    font-style: italic;
    color: #777;
    margin-bottom: 5px;
    margin-top: 5px;
}

.strip_list .desc .location {
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.banner-center {
    background-color: #397DC0;
}

.banner-center .title-baner-center {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.banner-center p {
    color: #fff;
}

.banner-center .btn-timkiem {
    padding: 10px 56px;
    border-radius: 50px;
    background-color: #fff;
    color: #397DC0;
    font-weight: 700;
}

.single-footer-widget .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    background-color: #1583e9;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}

.footer-area {
    border-top: 1px solid #eee;
}

.section-padding-40-0 {
    padding-top: 40px;
    padding-bottom: 0px;
}

.single-footer-widget .footer-social-info a.facebook {
    background-color: #4c60ac;
}

.single-footer-widget .footer-social-info a.twitter {
    background-color: #00bae3;
}

.single-footer-widget .footer-social-info a.pinterest {
    background-color: #d91a18;
}

.single-footer-widget .footer-social-info a.instagram {
    background-color: #0085d7;
}

.single-footer-widget .footer-social-info a.youtube {
    background-color: #e20000;
}

.single-footer-widget .widget-title {
    color: #303030;
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
}

.single-footer-widget .footer-content h3 {
    color: #1583e9;
}

.single-footer-widget .our-link li a {
    position: relative;
    z-index: 1;
    font-size: 16px;
    color: #707070;
    margin-bottom: 15px;
    display: block;
    font-weight: normal;
}

.bottom-footer {
    padding: 7px;
    background-color: #397DC0;
    color: #fff;
}

.TextHeading {
    font-size: 45px;
    font-weight: 700;
    color: #0e1311;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
}

.ReviewCounter-container {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.ReviewCounter {
    display: inline-block;
    position: absolute;
    background-color: #397DC0;
    color: #fff;
    padding: 0 13px;
    border-radius: 5px;
    bottom: 100%;
    font-weight: 500;
    right: -40%;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.ReviewCounter-container:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #397DC0;
    width: 100%;
    height: 5px;
    transition: all .3s ease-in-out;
}

.odometer.odometer-auto-theme,
.odometer.odometer-theme-minimal {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
}

.TextHeading--lg {
    max-width: 410px;
}

.ReviewCounter:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #397DC0;
    position: absolute;
    left: 10px;
    bottom: -7px;
}

.Homepage-v4 .Search {
    margin-top: 50px;
    margin-bottom: 90px;
    position: relative;
}

.Homepage-v4 .Search .Search__form {
    position: relative;
}

.Homepage-v4 .Search .search__field {
    position: relative;
    width: 100%;
    border: 0;
    background-color: #fff;
    box-shadow: 0 15px 30px -2px rgb(0 0 0 / 20%);
    padding: 23px 57px 23px 23px;
    border-radius: 6px;
    font-size: 22px;
    z-index: 4;
    color: #0e1311;
    font-weight: 600;
}

.Homepage-v4 .Search .search__field:focus {
    outline: none;
}

.Homepage-v4 .Search .search__button {
    position: absolute;
    display: flex;
    height: auto;
    width: 55px;
    right: 5px;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 36px;
    font-size: 26px;
    z-index: 5;
    text-align: center;
    color: #0e1311;
    align-items: center;
    justify-content: center;
}

.Homepage-v4 .Search .search__dots {
    position: absolute;
    left: -28px;
    top: 20px;
    z-index: 3;
}

.TextButton--sm {
    font-size: 16px;
    line-height: 20px;
}

.TextButton {
    position: relative;
    display: inline-block;
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #0e1311;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

.TextButton .TextButton__text {
    display: inline-block;
    vertical-align: middle;
}

.TextButton:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #397DC0;
    width: 50px;
    height: 4px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.TextButton i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 1px;
    font-weight: 700;
    margin-left: 1px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    font-size: 12px;
}

.js-replaceComments {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
}

.ReviewShowcase__shape {
    background-color: #397DC0;
    width: 1360px;
    height: 850px;
    bottom: 15%;
    left: -10%;
    overflow: hidden;
    position: absolute;
    transform: rotate( 10deg);
    border-radius: 0 0 100px 100px;
}

.ReviewShowcase__shape img {
    left: 32px;
    top: 23px;
    width: 83%;
    height: 100%;
    transition: all .25s ease-in-out;
    margin-top: 216px;
    margin-left: -15px;
}

.ReviewShowcase .Review.isCenter,
.ReviewShowcase .Review.isLeft,
.ReviewShowcase .Review.isRight {
    transition: all .5s ease-in-out;
}

.ReviewShowcase .Review.isCenter {
    opacity: 1;
    transform: translateX(0);
    width: 500px;
}

.ReviewShowcase .Review.isRight {
    transform: translateX(150px);
}

.ReviewShowcase .Review {
    box-shadow: 0 5px 20px -2px rgb(0 0 0 / 15%);
    display: inline-block;
    padding: 25px 20px 15px!important;
    border-radius: 6px!important;
    text-align: left;
    margin-bottom: 50px!important;
    transition: all .25s ease-in-out;
    width: 100%;
    max-width: none;
}

.slide-left {
    animation: 3s slide-left;
}

@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.Review .Review__header {
    margin-bottom: 5px;
}

.Review__author {
    text-transform: capitalize!important;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 800;
    color: #0e1311;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    margin-bottom: 10px;
}

.Review__overallStars {
    margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
}

.Review__overallStars i {
    margin-right: 1px;
    margin-left: 1px;
    color: #ff7849;
    font-size: 14px;
    /* vertical-align: top; */
    display: inline-block;
}

.Review__badge {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.Review__badge img {
    width: 18px;
    height: 18px;
}

.Review {
    background-color: #fff;
    border-radius: 0;
    padding: 25px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(73, 73, 79, .1);
    position: relative;
    padding: 15px 0 25px;
    background-color: #fff;
    margin-bottom: 20px;
}

.Review__body {
    white-space: normal!important;
}

.LogoComponent--xs {
    max-width: 100px;
    height: 34px;
}

.Review__quotationMark--left {
    font-size: 8px;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    height: 20px;
    line-height: 30px;
    left: 20px;
    top: 45px;
}

.Review__quotationMark--right {
    right: 12px;
    bottom: 39px;
    font-size: 8px;
    font-weight: 800;
    position: absolute;
    display: inline-block;
    height: 20px;
    line-height: 30px;
}

.LogoComponent .LogoComponent__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoComponent--xs .LogoComponent__image {
    border-radius: 2px;
}

.LogoComponent .LogoComponent__image {
    max-width: 90%;
    max-height: 100%;
    border-radius: 4px;
}

.Review__controlButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Question__dateSource {
    text-align: right;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

.Review:first-child {
    left: 110px;
    animation: 5s slide-left;
}

.Review:nth-child(2) {
    left: 0;
    transition-delay: .16s;
    animation: 4s slide-left;
}

.Review:nth-child(3) {
    left: -110px;
    animation: 3s slide-left;
}

.ParagraphBlock {
    margin-top: 75px;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(8%);
    }
    65% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(4%);
    }
    95% {
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        -webkit-transform: translateY(8%);
    }
    65% {
        -webkit-transform: translateY(-4%);
    }
    80% {
        -webkit-transform: translateY(4%);
    }
    95% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.futures__item {
    margin-bottom: 25px;
}

.futures__icon {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: flex-start;
}

.futures__top-title {
    color: #6b8ba7;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
}

.futures__title {
    color: #397DC0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 19px;
    padding-top: 3px;
}

.futures__text {
    color: #051f61;
    font-size: 15.5px;
    line-height: 25px;
}

#interactive-circle {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #397DC0;
    border-image: initial;
    margin: 55px auto 50px;
}

#interactive-circle:hover .divGetInTouch {
    transform: scale(1.03);
    opacity: 1;
    visibility: visible;
}

#interactive-circle .divGetInTouch {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
    top: 0;
    transform: scale(0);
    visibility: hidden;
    background: #397DC0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

#interactive-circle .roundGetInTouch {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    align-self: center;
    position: absolute;
    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#interactive-circle:hover .roundGetInTouch .buttonGetInTouch {
    color: #fff;
    letter-spacing: .5px;
    font-size: 14px;
    width: 100%;
}

#interactive-circle .roundGetInTouch .buttonGetInTouch {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    color: #474b68;
    width: 285px;
    font-size: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.img-logo .item {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 190px;
    flex-shrink: 0;
    text-decoration: none;
}

.img-logo {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.img-logo .item img {
    width: 100%;
    object-fit: contain;
}

.ReviewShowcase__shape img:after {
    content: "";
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
}

.ReviewShowcase__shape img:before {
    content: "";
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel.mobile.slide.ReviewShowcase__shape {
    display: none;
}

@media (max-width:768px) {
    .TextHeading {
        font-size: 33px;
    }
    .ReviewShowcase .Review.isCenter {
        width: 300px;
    }
    .Review:nth-child(3) {
        left: -57px;
    }
    .ReviewShowcase__shape {
        left: 7%;
    }
    .ReviewCounter {
        right: -54%;
    }
    .Homepage-v4 .Search .search__field {
        font-size: 13px;
    }
    .ReviewShowcase__shape img {
        margin-left: -276px;
    }
    .TextButton i {
        display: none;
    }
    .selectable-menu__header {
        font-size: 33px;
    }
    .d-tablet {
        display: none;
    }
    .img-logo .item {
        flex-basis: 167px;
    }
}

@media (max-width:420px) {
    .Homepage-v4 .Search .search__field {
        font-size: 16px;
    }
    .Homepage-v4 .Search .search__dots {
        left: -8px;
        top: 38px;
        max-width: 233px;
    }
    .ReviewShowcase__shape {
        display: none;
    }
    .TextButton:after {
        width: 31px;
    }
    .TextHeading {
        font-size: 35px;
    }
    .ReviewCounter {
        right: -46%;
    }
    .Review:first-child {
        display: none;
    }
    .Review:nth-child(3) {
        left: -17px;
    }
    .Review:nth-child(2) {
        left: 9px;
    }
    .selectable-menu__header {
        font-size: 25px;
    }
    .futures__title {
        font-size: 19px;
        line-height: 14px;
        padding-bottom: 11px;
    }
    .img-logo .item {
        flex-basis: 76px;
    }
    .carousel.slide.ReviewShowcase__shape {
        display: block;
    }
    .carousel.mobile.slide.ReviewShowcase__shape {
        display: block;
        background-color: #fff !important;
    }
    .ReviewShowcase__shape {
        width: 680px;
        height: 425px;
        bottom: -5%;
        left: 5%;
        border-radius: 500px 0 0 500px;
    }
    .ReviewShowcase__shape img {
        left: 32px;
        top: 23px;
        width: 100%;
        height: 100%;
        transition: all .25s ease-in-out;
        margin-top: 0px;
        margin-left: 0px;
    }
    #interactive-circle {
        display: none;
    }
    .TextButton {
        display: none;
    }
    .banner-center .title-baner-center {
        font-size: 25px;
        font-weight: 700;
        color: #fff;
    }
    .selectable-menu__header br {
        display: none;
    }
    .Homepage-v4 .Search .search__field {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 45px;
    }
}