.typeahead-title {
    padding-bottom: .125rem;
    padding-top: 1.75rem;
    margin: 0;
    padding-bottom: 0;
    line-height: normal;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: normal;
}

.subtitle {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

.typeahead-wrapper3 {
    padding: 1.5rem 0 3rem 0 !important;
}

.typeahead-wrapper3 .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 0.5rem;
    max-width: 46.5625rem;
    width: 100%;
    height: 3.25rem;
    border: solid 1px #E4E6EE;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
}

.typeahead-wrapper3 .search-company {
    width: calc(100% - 20rem);
    height: 2.1875rem;
    flex: 1;
    border-radius: 1.5rem 0 0 1.5rem;
    background-color: #fff;
    outline: none;
    display: flex;
    position: relative;
}

.twitter-typeahead {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.typeahead-wrapper3 .search-company input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    direction: ltr;
    font-size: 16px;
    padding-left: 1.5rem;
    font-weight: 500;
    color: #5E6B92;
}

.ab_typeahead3 .twitter-typeahead .tt-menu {
    z-index: 100;
    background-color: #fff !important;
    box-shadow: 0 0.5625rem 0.875rem 0 rgb(88 95 135 / 10%);
    border: 0;
    left: 0 !important;
    top: calc(100% + 1.2rem) !important;
    border-radius: .75rem;
    width: 100%;
    max-height: 20.625rem;
    overflow-y: auto;
}

.typeahead-wrapper3 .dropdown {
    width: 12.1875rem;
    position: relative;
}

.typeahead-wrapper3 .dropdown::before {
    width: .0625rem;
    content: '';
    background: #e4e6ee;
    z-index: 100;
    height: 50%;
    position: absolute;
    left: 0;
    top: 25%;
}

.typeahead-wrapper3 .dropdown .wrapper-dropdown {
    border: 0 !important;
    height: 2.5rem;
    border-radius: 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box {
    padding: 0 1.5rem;
    justify-content: flex-start;
}

.wrapper-dropdown .input-box[data-v-5dfe2281] {
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
}

.wrapper-dropdown .input-box p[data-v-5dfe2281] {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: normal;
    color: #1E223C;
}

.typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box p {
    color: #5E6B92;
}

.typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box i {
    font-size: 1rem;
    margin-left: 0.125rem;
}

.wrapper-dropdown .input-box i[data-v-5dfe2281] {
    transform: rotate( 90deg);
}

.wrapper-dropdown .autocomplete-list[data-v-5dfe2281] {
    position: absolute;
    left: -2px;
    right: -2px;
    box-shadow: 0 9px 14px 0 rgb(88 95 135 / 10%);
    background-color: #fff;
    list-style: none;
    overflow-y: hidden;
    max-height: 0px;
    border: solid 2px #a0a8c4;
    border-top: 0px;
    border-bottom: solid 2px #E4E6EE;
    z-index: 2;
    transition: max-height 250ms ease-in;
    -webkit-transition: max-height 250ms ease-in;
    will-change: max-height;
}

.typeahead-wrapper3 .dropdown .autocomplete-list {
    top: calc(100% + 1.05rem);
    border-radius: .75rem;
    padding: .625rem 0;
}

.wrapper-dropdown .autocomplete-list li[data-v-5dfe2281] {
    font-size: 0.9rem;
    margin: 0;
    padding: 12px 24px;
    border-bottom: solid 1px #ebf0f6;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #1E223C;
}

.typeahead-wrapper3 .dropdown .autocomplete-list li {
    border-bottom: none !important;
    padding: .5625rem 1.5rem;
}

.ab_btn.round {
    border-radius: 24px;
}

.typeahead-wrapper3 .search-btn {
    min-width: 6.75rem;
    box-shadow: none;
}

.ab_btn {
    padding: 7px 14px;
    min-width: 120px;
    cursor: pointer;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    background-color: #397DC0;
    border: 1px solid #397DC0;
    color: #fff;
    border-radius: 1.5rem;
    outline: none;
}

.custom-sel {
    border: none;
    outline: none;
    box-shadow: none;
}

.custom-select:focus {
    border-color: none;
    box-shadow: none;
}

.sec_search {
    padding-top: 4rem;
    background-color: #f6f7ff;
}

.row-1 {
    background-image: url(https://static.ambitionbox.com/static/icons/typeahead/companies.svg);
    background-position: 96% 185%;
    background-size: 300px;
    background-repeat: no-repeat;
}

.bold-title-l {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 5px;
}

.ab-company-result-card {
    overflow: hidden;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    border-radius: .375rem;
    border: solid 1px #ebf0f6;
    background-color: #fff;
    margin-bottom: 2rem;
    width: 100%;
    cursor: pointer;
}

.ab-company-result-card .company-content-wrapper {
    display: flex;
    flex-direction: column;
    /* padding: 1.5rem 1.5rem 0 1.5rem; */
}

.ab-company-result-card .company-content-wrapper .company-content {
    display: flex;
}

.ab-company-result-card .company-content-wrapper .company-content .company-logo {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 2rem;
}

.ab-company-result-card .company-content-wrapper .company-content .company-logo img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: .25rem;
    border: solid 1px #f0f0f0;
    object-fit: contain;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper {
    width: 100%;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: .5rem;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left {
    display: flex;
    flex: 1;
    align-items: center;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .company-name {
    margin-right: .5rem;
    text-transform: capitalize;
    color: #1E223C;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper {
    display: flex;
    align-items: center;
    line-height: 1.33;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper .rating {
    color: #fff;
    margin-right: .5rem;
    padding: .1875rem .3125rem;
    border-radius: .25rem;
    display: flex;
    width: 2.625rem;
    height: 1.25rem;
    font-size: 0.75rem;
    margin-bottom: 0;
}

.rating-4 {
    background: #5ba829;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper .rating i {
    width: .625rem;
    font-size: 11px;
    margin-right: .3125rem;
    color: #fff;
    margin-top: 2px;
}

.ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .follow-btn {
    min-width: 4.625rem;
    padding: .3125rem 1rem;
}

.ab_btn.invert {
    background-color: #fff;
    border-color: #397DC0;
    box-shadow: none;
}

.ab-company-result-card .company-basic-info {
    display: flex;
    flex-wrap: wrap;
}

.ab-company-result-card .company-basic-info .infoEntity {
    font-size: .875rem;
    color: #5E6B92;
    display: flex;
    width: 50%;
    margin: .25rem 0;
    line-height: 1.43;
    text-align: initial;
}

.ab-company-result-card .company-basic-info .infoEntity i {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0px;
    margin-top: 5px;
}

.ab-company-result-card .company-content-wrapper .description {
    font-size: 14px;
    margin-top: 8px;
    color: #1E223C;
    overflow: hidden;
    position: relative;
    line-height: 1.33em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.ab-company-result-card .company-action-center {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem 1.25rem;
}

.ab-company-result-card .company-action-center a {
    color: #1E223C;
    text-decoration: none;
    font-size: 14px;
}

.ab_btn.invert span {
    color: #397DC0;
}

.ab-company-result-card .company-action-center a .caption-subdued-large {
    color: #1E223C;
    font-weight: 500;
}

.wui-text {
    background-image: linear-gradient( 0deg, #397DC0, #397DC0 100%);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: calc(200% - 1px);
    transition: background-position-y 0.25s ease 0s;
}

.body-medium:hover>.wui-text,
.body-medium:focus>.wui-text {
    opacity: 1;
    background-position-y: 100%;
}

.list-courses .course-item {
    margin-bottom: 30px;
}

.list-courses .wrap-course-item {
    background: #fff;
    box-shadow: 0 5px 15px 0 rgb(133 142 176 / 15%);
    border-radius: 5px;
}

.course-thumb {
    position: relative;
}

.course-thumb a {
    display: block;
}

.course-thumb .bg-review {
    height: 40px;
    width: 100%;
    transform: none !important;
    display: block;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    background: #397DC0;
}

.cl-badge {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
}

.cl-badge.hot::before,
.cl-badge.hot::after {
    border: 10px solid #cd3e46;
    border-top-color: transparent;
    border-left-color: transparent;
}

.cl-badge::before {
    top: 0;
    right: 6px;
    transform: rotate( -35deg);
}

.cl-badge::before,
.cl-badge::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
}

.cl-badge.hot span {
    background: #e8505b;
    z-index: 1;
}

.cl-badge span {
    position: absolute;
    display: block;
    width: 120px;
    padding: 2px 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    text-align: center;
    right: -10px;
    font-weight: 600;
    font-size: 10px;
    top: 20px;
    transform: rotate( -45deg);
}

.cl-badge::after {
    bottom: 6px;
    transform: rotate( 35deg);
    left: 0;
}

.view-content {
    padding: 15px;
    min-height: 185px;
    position: relative;
}

.view-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -40px -15px 0;
    position: relative;
    background: #fff;
    padding: 15px 15px 7px;
    border-top-right-radius: 30px;
}

.view-content-header__img-top {
    display: none !important;
}

.star-rating {
    position: relative;
    top: -2px;
    margin-left: 20px;
}

.view-content-header .course-type.online {
    background: #ffab00;
    padding: 4px 6px 3px;
    font-size: 10px;
    color: #fff;
    border-radius: 13px;
}

.course-title {
    margin-top: 0;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0px;
}

.view-content .course-author {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    color: #42526e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.view-content .course-description {
    margin-bottom: 0px;
    color: #42526e;
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 44px;
    max-height: 59px;
    font-size: 14px;
}

.view-content-footer {
    width: calc(100% - 30px);
    padding: 7px 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #dcdff1;
    position: absolute;
    bottom: 0;
    color: #42526e;
    font-weight: 600;
}

.wrap-course-item {
    background: #fff;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    border: solid 1px #ebf0f6;
    border-radius: 5px;
    margin-bottom: 25px;
}

.star-rating i {
    color: #ff7849;
}

.icon-box {
    display: flex;
    width: 100%;
}

.icon-box .img-box {
    width: 30%;
}

.icon-box .img-box img {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.icon-box .text-box {
    width: 70%;
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
}

.course-footer-left {
    font-size: 14px;
}

.categoryCardsContainer___22Vxe {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.categoryCardWrapper___y_llH {
    width: 122px;
    background-color: #fff;
    margin-bottom: 8px;
    box-shadow: 0 2px 2px 0 rgb(0 0 50 / 4%);
    position: relative;
    bottom: 0;
    transition: all .2s ease;
    margin-right: 12px;
    border-radius: 6px;
}

.categoryCardLink___1PQt9 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.categoryCard___27Gng {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.categoryCard___27Gng .image___OYgSy {
    width: 28px;
    height: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.categoryCard___27Gng .text___1m56U {
    margin: 0 8px 12px 8px;
    height: 32px;
    width: 88px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 16px;
    line-height: 1rem;
}

.categoryCardWrapper___y_llH:hover::before {
    box-shadow: 0 12px 20px 0 rgb(0 0 50 / 20%);
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.categoryCardWrapper___y_llH:hover {
    cursor: pointer;
    background: #fafafc;
    bottom: -4px;
}

.categoryCardWrapper___y_llH.div-visible {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.categoryCardWrapper___y_llH.div-visible.is-open {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.ab-company-result-card:last-child {
    margin-bottom: 0;
}


/* css search */

.filter {
    margin-bottom: 32px;
    box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    border-radius: .375rem;
    border: solid 1px #ebf0f6;
}

.radioList-wrapper .radio-label i {
    color: #ffab00;
}

.heading {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    margin: 4px 0px;
    color: #1E223C;
}

.custom-checkbox+label span {
    color: #97A0BE;
}

.custom-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: .875rem;
    line-height: 1.43;
    color: #091e42;
    font-weight: normal;
    align-items: flex-start;
}

.checkbox {
    padding: .1rem 0;
    user-select: none;
}

.body-tp .checkboxlist .checkbox:nth-child(n+8) {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.body-tp .checkboxlist {
    display: block;
    overflow-y: auto;
    height: 235px;
}

.body-tp.is-open .checkboxlist .checkbox:nth-child(n+8) {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.body-tp.is-open .expandBtn {
    display: none;
}

.expandBtn {
    color: #5670fb;
    cursor: pointer;
    margin: 12px 0px;
    letter-spacing: normal;
}


/* .custom-checkbox+label:before {
  content: '';
  margin-right: .625rem;
  display: inline-block;
  vertical-align: text-top;
  width: .9375rem;
  height: .9375rem;
  border: .0625rem solid #5E6B92;
  background: #fff;
  transition: background-color 0.15s ease-in;
  margin-top: .0625rem;
  flex: none;
} */

@media (max-width:768px) {
    .course-item {
        display: none;
    }
    .categoryCardWrapper___y_llH {
        width: 111px;
    }
}

@media (max-width:468px) {
    .typeahead-wrapper3 .dropdown {
        display: none;
    }
    .typeahead-wrapper3 .search-company input {
        font-size: 13px;
        padding-left: 0;
    }
    .categoryCardWrapper___y_llH {
        width: 103px;
    }
    .ab-company-result-card {
        padding: 1.25rem 1rem 0 1rem;
    }
    .ab-company-result-card .company-basic-info {
        display: block;
        flex-wrap: wrap;
    }
    .ab-company-result-card .company-content-wrapper .company-content .company-logo {
        margin-right: 1rem;
    }
    .ab-company-result-card .company-basic-info .infoEntity {
        width: 100%;
    }
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info {
        display: block;
    }
    .ab-company-result-card .company-action-center {
        padding: 0;
    }
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .follow-btn {
        font-size: 14px;
    }
    .ab-company-result-card .company-action-center a {
        margin-right: 30px;
        text-align: center;
    }
}