    .typeahead-title {
        padding-bottom: .125rem;
        padding-top: 1.75rem;
        margin: 0;
        line-height: normal;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: normal;
    }
    
    .subtitle {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.3;
    }
    
    .typeahead-wrapper3 {
        padding: 1.5rem 0 3rem 0 !important;
    }
    
    .typeahead-wrapper3 .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.5rem;
        background-color: #fff;
        padding: 0.5rem;
        max-width: 36.5625rem;
        width: 100%;
        height: 3.25rem;
        border: solid 1px #E4E6EE;
        box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
    }
    
    .typeahead-wrapper3 .search-company {
        width: calc(100% - 20rem);
        height: 2.1875rem;
        flex: 1;
        border-radius: 1.5rem 0 0 1.5rem;
        background-color: #fff;
        outline: none;
        display: flex;
        position: relative;
    }
    
    .twitter-typeahead {
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }
    
    .typeahead-wrapper3 .search-company input {
        width: 100%;
        height: 100%;
        border: 0;
        outline: none;
        direction: ltr;
        font-size: 16px;
        padding-left: 1.5rem;
        font-weight: 500;
        color: #5E6B92;
    }
    
    .ab_typeahead3 .twitter-typeahead .tt-menu {
        z-index: 100;
        background-color: #fff !important;
        box-shadow: 0 0.5625rem 0.875rem 0 rgb(88 95 135 / 10%);
        border: 0;
        left: 0 !important;
        top: calc(100% + 1.2rem) !important;
        border-radius: .75rem;
        width: 100%;
        max-height: 20.625rem;
        overflow-y: auto;
    }
    
    .typeahead-wrapper3 .dropdown {
        width: 12.1875rem;
        position: relative;
    }
    
    .typeahead-wrapper3 .dropdown::before {
        width: .0625rem;
        content: '';
        background: #e4e6ee;
        z-index: 100;
        height: 50%;
        position: absolute;
        left: 0;
        top: 25%;
    }
    
    .typeahead-wrapper3 .dropdown .wrapper-dropdown {
        border: 0 !important;
        height: 2.5rem;
        border-radius: 0;
        position: relative;
        width: 100%;
        background-color: #fff;
        overflow: hidden;
    }
    
    .typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box {
        padding: 0 1.5rem;
        justify-content: flex-start;
    }
    
    .wrapper-dropdown .input-box[data-v-5dfe2281] {
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
    }
    
    .wrapper-dropdown .input-box p[data-v-5dfe2281] {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: normal;
        color: #1E223C;
    }
    
    .typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box p {
        color: #5E6B92;
    }
    
    .typeahead-wrapper3 .dropdown .wrapper-dropdown .input-box i {
        font-size: 1rem;
        margin-left: 0.125rem;
    }
    
    .wrapper-dropdown .input-box i[data-v-5dfe2281] {
        transform: rotate( 90deg);
    }
    
    .wrapper-dropdown .autocomplete-list[data-v-5dfe2281] {
        position: absolute;
        left: -2px;
        right: -2px;
        box-shadow: 0 9px 14px 0 rgb(88 95 135 / 10%);
        background-color: #fff;
        list-style: none;
        overflow-y: hidden;
        max-height: 0px;
        border: solid 2px #a0a8c4;
        border-top: 0px;
        border-bottom: solid 2px #E4E6EE;
        z-index: 2;
        transition: max-height 250ms ease-in;
        -webkit-transition: max-height 250ms ease-in;
        will-change: max-height;
    }
    
    .typeahead-wrapper3 .dropdown .autocomplete-list {
        top: calc(100% + 1.05rem);
        border-radius: .75rem;
        padding: .625rem 0;
    }
    
    .wrapper-dropdown .autocomplete-list li[data-v-5dfe2281] {
        font-size: 0.9rem;
        margin: 0;
        padding: 12px 24px;
        border-bottom: solid 1px #ebf0f6;
        background-color: #fff;
        cursor: pointer;
        user-select: none;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #1E223C;
    }
    
    .typeahead-wrapper3 .dropdown .autocomplete-list li {
        border-bottom: none !important;
        padding: .5625rem 1.5rem;
    }
    
    .ab_btn.round {
        border-radius: 24px;
    }
    
    .typeahead-wrapper3 .search-btn {
        min-width: 6.75rem;
        box-shadow: none;
    }
    
    .row-1 {
        background-image: url(../img/world-map.png);
        background-position: 49% 36%;
        background-size: 345px;
        background-repeat: no-repeat;
    }
    
    .row-2 {
        background-image: url(../img/world-map.png);
        background-position: 13% 36%;
        background-size: 345px;
        background-repeat: no-repeat;
    }
    
    .sec_search {
        padding-top: 4rem;
        background-color: #f6f7ff;
    }
    
    .bg-purple {
        background-color: #397DC0;
    }
    
    .ab-company-result-card {
        overflow: hidden;
        box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
        border-radius: .375rem;
        border: solid 1px #ebf0f6;
        background-color: #fff;
        margin-bottom: 2rem;
        width: 100%;
        cursor: pointer;
    }
    
    .ab-company-result-card .company-content-wrapper {
        display: flex;
        flex-direction: column;
        /* padding: 1.5rem 1.5rem 0 1.5rem; */
    }
    
    .ab-company-result-card .company-content-wrapper .company-content {
        display: flex;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-logo {
        width: 6.25rem;
        height: 6.25rem;
        margin-right: 2rem;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-logo img {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: .25rem;
        border: solid 1px #f0f0f0;
        object-fit: contain;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper {
        width: 100%;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: .5rem;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left {
        display: flex;
        flex: 1;
        align-items: center;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .company-name {
        margin-right: .5rem;
        text-transform: capitalize;
        color: #1E223C;
        font-size: 25px;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper {
        display: flex;
        align-items: center;
        line-height: 1.33;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper .rating {
        color: #fff;
        margin-right: .5rem;
        padding: .1875rem .3125rem;
        border-radius: .25rem;
        display: flex;
        height: 1.25rem;
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    
    .rating-spam {
        background: #ffab00;
    }
    
    .rating-luadao {
        background: red;
    }
    
    .rating-bth {
        background: #5ba829;
        width: 68px;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .left .rating-wrapper .rating i {
        width: .625rem;
        font-size: 11px;
        margin-right: .3125rem;
        color: #fff;
        margin-top: 2px;
    }
    
    .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .follow-btn {
        min-width: 4.625rem;
        padding: .3125rem 1rem;
    }
    
    .ab-company-result-card .company-action-center {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem 0.25rem;
    }
    
    .ab-company-result-card .company-basic-info {
        display: flex;
        flex-wrap: wrap;
    }
    
    .ab-company-result-card .company-basic-info .infoEntity {
        font-size: .875rem;
        color: #5E6B92;
        display: flex;
        width: 50%;
        margin: .25rem 0;
        line-height: 1.43;
        text-align: initial;
    }
    
    .ab-company-result-card .company-basic-info .infoEntity i {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0px;
        margin-top: 5px;
    }
    
    .ab-company-result-card .company-action-center a .caption-subdued-large {
        color: #1E223C;
        font-weight: 500;
    }
    
    .rating-spam {
        background: #ffab00;
    }
    
    .rating-luadao {
        background: red;
        width: 55px;
    }
    
    .rating-bth {
        background: #5ba829;
        width: 78px;
    }
    
    .wui-text {
        background-image: linear-gradient( 0deg, #397DC0, #397DC0 100%);
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position-y: calc(200% - 1px);
        transition: background-position-y 0.25s ease 0s;
    }
    
    .body-medium:hover>.wui-text,
    .body-medium:focus>.wui-text {
        opacity: 1;
        background-position-y: 100%;
    }
    
    .filter {
        margin-bottom: 32px;
        box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
        border-radius: .375rem;
        border: solid 1px #ebf0f6;
    }
    
    .media {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        font-size: 17px;
    }
    
    .top-so-dien-thoai {
        background-color: #397DC0;
        width: 32px;
        height: 32px;
        color: #fff;
        border-radius: 5px;
        text-align: center;
        vertical-align: middle;
        font-weight: 600;
        font-size: 1.2em;
        margin-right: 7px;
    }
    
    .lh-125 {
        line-height: 1.25;
    }
    
    .top-so-dien-thoai-txt {
        color: #000;
        font-weight: 500;
    }
    
    .list-group-item {
        font-size: 0.9em;
        position: relative;
        display: block;
        padding-left: 0px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        border: 0px solid rgba(0, 0, 0, .125);
    }
    
    .list-group-item:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    /* detail number phone */
    
    .shadow-custom {
        box-shadow: 0 2px 6px -2px rgb(0 106 194 / 20%);
        border-radius: .375rem;
        border: solid 1px #ebf0f6;
    }
    
    .call-ok-1 .text-phone-color {
        color: #1e7e34;
        font-size: 1.3em;
    }
    
    .call-ok-3 .text-phone-color {
        color: #dc3545;
        font-size: 1.3em;
    }
    
    .call-ok-2 .text-phone-color {
        color: #bb8028;
        font-size: 1.3em;
    }
    
    .call-ok-2 .icon-call {
        font-size: 40px;
        color: #bb8028;
        margin-right: 15px;
    }
    
    .call-ok-1 .icon-call {
        font-size: 40px;
        color: #1e7e34;
        margin-right: 15px;
    }
    
    .call-ok-3 .icon-call {
        font-size: 40px;
        color: #dc3545;
        margin-right: 15px;
    }
    
    .text-strong-name {
        font-weight: 600;
        color: #444;
    }
    
    #gallery-lightbox img {
        height: 100px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .mbottom-2 {
        margin-bottom: 5px;
        font-size: 1.1em;
    }
    
    .mbottom-5 {
        margin-bottom: 5px;
    }
    
    .rating-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .rating-score__number i {
        font-size: 23px;
    }
    
    .rating-score__number {
        width: 2.2rem;
        height: 2.2rem;
        background: #1e7e34;
        color: #ffffff;
        font-weight: 700;
        padding: .2rem;
        border-radius: .2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .rating-score__text {
        padding-left: .5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #1e7e34;
        -ms-flex-item-align: center;
        align-self: center;
        line-height: 1.4;
    }
    
    .rating-score__text img {
        width: 15px;
        height: 15px;
    }
    
    .rating-score__text small {
        display: block;
        font-weight: 500;
        color: #2d4057;
        font-size: 80%;
        line-height: 1.2;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .box {
        display: block;
        width: 92px;
        height: 92px;
        margin: 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
    }
    
    .upload-options {
        position: relative;
        height: 25px;
        background-color: cadetblue;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        transition: background-color ease-in-out 150ms;
    }
    
    .upload-options:hover {
        background-color: #7fb1b3;
    }
    
    .upload-options input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    .upload-options label {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        overflow: hidden;
    }
    
    .upload-options label::after {
        content: "Ảnh";
        font-family: "Material Icons";
        position: absolute;
        font-size: 16px;
        color: #e6e6e6;
        /* top: calc(50% - 2.5rem); */
        left: calc(54% - 1.25rem);
        z-index: 0;
    }
    
    .upload-options label span {
        display: inline-block;
        width: 50%;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        text-align: center;
    }
    
    .upload-options label span:hover i.material-icons {
        color: lightgray;
    }
    
    .js--image-preview {
        height: 67px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-image: url("");
        background-color: white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .js--image-preview::after {
        content: "photo_size_select";
        position: relative;
        font-size: 12px;
        color: #e6e6e6;
        top: calc(100% - 3rem);
        left: calc(42% - 2.25rem);
        z-index: 0;
    }
    
    .js--image-preview.js--no-default::after {
        display: none;
    }
    
    .js--image-preview:nth-child(2) {
        background-image: url("http://bastianandre.at/giphy.gif");
    }
    
    i.material-icons {
        transition: color 100ms ease-in-out;
        font-size: 2.25em;
        line-height: 55px;
        color: white;
        display: block;
    }
    
    .drop {
        display: block;
        position: absolute;
        background: rgba(95, 158, 160, 0.2);
        border-radius: 100%;
        transform: scale(0);
    }
    
    .animate {
        -webkit-animation: ripple 0.4s linear;
        animation: ripple 0.4s linear;
    }
    
    @-webkit-keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(2.5);
        }
    }
    
    @keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(2.5);
        }
    }
    
    @media (max-width: 768px) {
        .course-item {
            display: none;
        }
        .categoryCardWrapper___y_llH {
            width: 111px;
        }
    }
    
    @media (max-width:468px) {
        .typeahead-wrapper3 .dropdown {
            display: none;
        }
        .typeahead-wrapper3 .search-company input {
            font-size: 13px;
            padding-left: 0;
        }
        .categoryCardWrapper___y_llH {
            width: 103px;
        }
        .ab-company-result-card {
            padding: 1.25rem 1rem 0 1rem;
        }
        .ab-company-result-card .company-basic-info {
            display: block;
            flex-wrap: wrap;
        }
        .ab-company-result-card .company-content-wrapper .company-content .company-logo {
            margin-right: 1rem;
        }
        .ab-company-result-card .company-basic-info .infoEntity {
            width: 100%;
        }
        .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info {
            display: block;
        }
        .ab-company-result-card .company-action-center {
            padding: 0;
        }
        .ab-company-result-card .company-content-wrapper .company-content .company-info-wrapper .company-info .follow-btn {
            font-size: 14px;
        }
        .ab-company-result-card .company-action-center a {
            margin-right: 30px;
            text-align: center;
        }
        .rating-spam {
            background: #ffab00;
        }
        .rating-luadao {
            background: red;
            width: 64px;
        }
        .rating-bth {
            background: #5ba829;
            width: 104px;
        }
        .rating-score__text small {
            width: 165px;
        }
    }