/* .carousel-inner
{
    border: 3px solid #0159A0;
    height: 370px;
    overflow: hidden;
    width: calc(100% - 0px) !important;
    margin-bottom: 4px;
} */

body {
    overflow-x: hidden;
    color: #3c3939;
    background: #f5f5f5;
    background-color: #f5f5f5;
}

.container {
    margin-bottom: 16px;
}

.filter {
    padding: 10px 12px;
}

.cacloailaptop .row {
    padding: 10px 12px;
}

.cacloailaptop .row .col-4 {
    background-color: #fff;
}

.filter .manu {
    padding: 0 0 0px 1px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.filter .manu a {
    float: left;
    width: 11.1%;
    border: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin: 0 0 -1px -1px;
    color: #288ad6;
    text-align: center;
}

.filter .manu a img {
    max-height: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.fillter-home .flex1 {
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.fillter-home .flex {
    margin-bottom: 16px;
    display: flex;
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

.items-center {
    align-items: center;
}

.fillter-home .flex .title {
    width: 125px;
    font-weight: 700;
    font-size: 16px;
}

.fillter-home .flex .content {
    width: 1098px;
    width: calc(100% - 125px);
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.fillter-home .flex .content label {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    background: #f3f5f8;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 24px;
    border-radius: 4px;
    margin: 0 8px 0 0;
    color: #000000bd;
}

.fillter-home .flex .content label:hover {
    background: #0159a0;
    color: #fff;
}

.cdt-product-home.cdt-product.banchay:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    height: calc(100% + 40px);
    border-radius: 6px;
    border: solid 1px #dee2e6;
    -webkit-box-shadow: 0 0 2px 0 #dee2e6;
    box-shadow: 0 0 2px 0 #dee2e6;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.sanpham-home .col-sm-6,
.sanpham-home .col-sm-3 {
    margin-bottom: 30px;
}

.box-head {
    padding: 5px 0;
    position: relative;
    height: 45px;
    background: #0159a0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-head h3 {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}


/* Media Query for low resolution  Iphone, Ipads */

@media (min-width: 320px) and (max-width: 768px) {
    /* body { 
          background-color: yellow; 
          
      }  */
    /* .cdt-product__info {
      padding: 0;
  } */
    .section-deskop {
        display: none;
    }
    .section-tablet {
        display: none;
    }
    .section-mobile {
        display: block;
    }
    .filter .manu a {
        float: left;
        width: 33% !important;
        border: 1px solid #eee;
        height: 40px;
        line-height: 40px;
        position: relative;
        margin: 0 0 -1px -1px;
        color: #288ad6;
        text-align: center;
    }
    .cdt-product__name {
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .cdt-product__text-promo,
    .cdt-product__btn {
        display: none;
    }
    .cdt-product-home.cdt-product.banchay:hover:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 10px;
        left: 0;
        height: calc(100% + 0px);
        border-radius: 6px;
        border: solid 1px #dee2e6;
        -webkit-box-shadow: 0 0 2px 0 #dee2e6;
        box-shadow: 0 0 2px 0 #dee2e6;
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
    }
    .sanpham-home .col-sm-6,
    .sanpham-home .col-sm-3 {
        margin-bottom: 0px;
    }
    .box-head {
        padding: 10px 0;
    }
    .box-head h3 {
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
    }
    .cdt-product__label {
        top: 67px;
        left: 2px;
        margin-bottom: -9px;
    }
    .cdt-product__label span {
        font-size: 11.2px;
        font-weight: 400;
        padding: 0 8px;
        line-height: 21px;
        display: inline-block;
    }
    .cdt-product {
        padding: 0em !important;
    }
    .fillter-home .flex .title {
        width: 202px;
        font-weight: 700;
        font-size: 16px;
    }
    .col-prepaid,
    .st-rating {
        display: none !important;
    }
    .fillter-home .flex {
        margin-bottom: 16px;
        display: block;
        padding: 10px 12px;
        border-bottom: 1px solid #eee;
    }
    .fillter-home .flex .content {
        /* width: 1098px; */
        width: calc(100% - 0px);
        overflow: hidden;
        white-space: nowrap;
        text-align: right;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    /* body { 
          background-color: blue; 
         
      }  */
    .section-deskop {
        display: none;
    }
    .section-tablet {
        display: block;
    }
    .section-mobile {
        display: none;
    }
    .filter .manu a {
        float: left;
        width: 33% !important;
        border: 1px solid #eee;
        height: 40px;
        line-height: 40px;
        position: relative;
        margin: 0 0 -1px -1px;
        color: #288ad6;
        text-align: center;
    }
    .fillter-home .flex .title {
        width: 202px;
        font-weight: 700;
        font-size: 16px;
    }
    .col-prepaid {
        display: none;
    }
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1580px) {
    /* body { 
          background-color: green; 
          
      }  */
    .section-deskop {
        display: block;
    }
    .section-tablet {
        display: none;
    }
    .section-mobile {
        display: none;
    }
}


/*container for the nav*/

.nav-menu-wrap {
    overflow-y: auto;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 65%;
    -webkit-transition: all 450ms ease-in-out;
    -moz-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    z-index: 5;
    -moz-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -webkit-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -ms-transform: translate(-100%, 0%) rotate(90deg);
    -o-transform: translate(-100%, 0%) rotate(90deg);
    transform: translate3d(-100%, 0px, 0px) rotate(90deg);
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    background: #fff;
}

.nav-menu-wrap.active {
    -moz-transform: translate3d(0%, 0px, 0px) rotate(0deg);
    -webkit-transform: translate3d(0%, 0px, 0px) rotate(0deg);
    -ms-transform: translate(0%, 0%) rotate(0deg);
    -o-transform: translate(0%, 0%) rotate(0deg);
    transform: translate3d(0%, 0px, 0px) rotate(0deg);
}


/*nav menu background*/

.nav-menu-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #222;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.nav-menu-background.active {
    opacity: 1;
    z-index: 4;
}

.menu {
    margin: 0px;
    padding: 0px;
    height: auto;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px 0px 4px 4px;
    /* background: #F4F4F4; */
}

.nav-menu1 {
    position: relative;
    top: 0px;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    padding: 0px;
    background: #fff;
}

.nav-menu1 li {
    border-bottom: 1px solid #e2dbdb;
    padding: 12px 16px;
    list-style-type: none;
    display: block;
    position: relative;
    font-size: 15px;
}

.nav-menu1 li>a {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    text-decoration: none;
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-menu1 li>a:hover,
.nav-menu1 li>a:active {
    background: #ccc;
}


/*Nav menu toggle*/


/* Media Query for low resolution  Iphone, Ipads */

@media (min-width: 320px) and (max-width: 768px) {
    .logo-tab img {
        width: 192px;
    }
    .nav-menu-wrap {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 77%;
        -webkit-transition: all 450ms ease-in-out;
        -moz-transition: all 450ms ease-in-out;
        transition: all 450ms ease-in-out;
        z-index: 5;
        -moz-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -webkit-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -ms-transform: translate(-100%, 0%) rotate(90deg);
        -o-transform: translate(-100%, 0%) rotate(90deg);
        transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .nav-top,
    .nav-bottom,
    .baner-header,
    .laptopgiatot,
    .icon-sanpham {
        display: none !important;
    }
    .container.banner-mobile {
        margin-top: 112px;
    }
    .hieu2dot4 .picture {
        height: 57px;
    }
    .block-slider-4 .head:before {
        background: none !important;
    }
    .slider-custom .head:after {
        background: none !important;
    }
    .navbar-toggler {
        padding: 0 !important;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 924px) {
    .logo-tab img {
        width: 250px;
    }
    .navbar-toggler {
        padding: 0 !important;
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
    .nav-menu-wrap {
        position: fixed;
        top: 0px;
        height: 100%;
        width: 50%;
        -webkit-transition: all 450ms ease-in-out;
        -moz-transition: all 450ms ease-in-out;
        transition: all 450ms ease-in-out;
        z-index: 5;
        -moz-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -webkit-transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -ms-transform: translate(-100%, 0%) rotate(90deg);
        -o-transform: translate(-100%, 0%) rotate(90deg);
        transform: translate3d(-100%, 0px, 0px) rotate(90deg);
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .nav-top,
    .nav-bottom,
    .baner-header,
    .laptopgiatot,
    .icon-sanpham,
    .gui-email {
        display: none !important;
    }
    .container.banner-mobile {
        margin-top: 125px;
    }
    .hieu2dot4 .picture {
        height: 80px;
    }
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1000px) {
    .nav-menu-wrap,
    .nav-menu-background,
    .nav-menumobiletablet,
    .banner-mobile {
        display: none !important;
    }
}

.nav-menumobiletablet {
    text-align: center;
    position: fixed;
    z-index: 3;
    left: 0px;
    right: 0px;
    top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #48a3f6;
}

.cart-contents,
.nav-menu-toggle {
    color: #fff;
    font-size: 22px;
}

.input-search {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    top: 48px;
    left: 12px;
    right: 12px;
    z-index: 1;
    line-height: 36px;
    padding: 0px 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition-duration: 0.3s;
}

.input-search img {
    width: 24px;
    height: 24px;
}

.input-search input {
    border: 0px;
    height: 36px;
    line-height: 36px;
    margin: 0px 0px 0px 8px;
    outline: 0px;
    width: 100%;
    padding: 0px;
}

.visual {
    background-color: rgb(27, 168, 255) !important;
}

.avatar {
    padding: 8px 16px;
    color: rgb(255, 255, 255) !important;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

.avatar__icon {
    margin: 0px 16px 0px 0px;
}

.avatar__content {
    font-size: 14px;
    line-height: 20px;
    flex: 1 1 0%;
}

.nav-menu1 svg {
    margin: 0px 32px 0px 0px;
    color: rgb(117, 117, 117);
}

.nav-menu1 a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.sub-head {
    color: rgb(120, 120, 120);
    padding: 12px 16px 0px;
    border-top: 1px solid rgb(242, 242, 242);
}

.sub-menu {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
}

[id^="btn"]:checked+ul {
    display: block;
}

#btn-1 {
    display: none !important;
}


/* css baner vetical */

.menu-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.menu {
    font-family: "Roboto";
    width: 90%;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
    background-color: #ffff;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:focus {
    color: #000;
    text-decoration: none;
}

.menu>li:hover {
    background: #48a3f6;
    text-decoration: none;
    border-left: 4px solid #0159a0;
    background-color: #48a3f6;
}

.menu>li:hover>a:before {
    content: "";
    border-color: transparent #fff transparent transparent;
    right: 0;
    border-width: 12px;
    position: absolute;
    border-style: solid;
    margin-top: -4px;
}

.menu>li {
    display: block;
    text-align: left;
    margin-left: -4px;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

.menu>li>a>i {
    margin-right: 13px;
    font-size: 14px;
    color: #777;
    width: 15px;
    text-align: center;
}

.menu>li:hover>a>i {
    color: #fff;
}

.menu>li:hover>a {
    color: #fff;
    border-bottom: none;
}

.menu>li>a {
    padding: 7.85px 12px;
    display: block;
    border-bottom: 1px solid #eee;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #4B4B4B;
}


/* Megadrop width dropdown */

.menu>li>.megadrop {
    padding-left: 26px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: -1px;
    left: 267px;
    width: 995px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    /*padding: 0;*/
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border-top: 2px solid #227087;
    border-right: 2px solid #227087;
    border-bottom: 2px solid #227087;
}

ul.menu>li:hover>.megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    background-color: #fff;
    margin-left: 11px;
}

.menu ul li:hover:after {
    color: #227087;
}

.menu>li>ul li ul,
.menu li>ul li,

/* .menu>li>.megadrop, */

.menu>li>ul,
.menu>li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

.banber-header {
    padding: 0;
    padding-right: 10px;
    padding-right: 13px;
}

.banber-header .row {
    margin-left: 0;
}

.menu-con li {
    padding: 5px 5px;
    list-style: none;
}

.banber-header1 {
    padding-left: 5px;
    padding-right: 6px;
}

.banber-header11 {
    padding-right: 8px;
}

.baner-header {
    margin-top: 10px;
}

.container.banner-mobile img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

.block-slider-4 {
    background: linear-gradient(to right, #2376a7, #09487c);
}

.hot-sale {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#2376a7, #09487c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hot-sale img {
    width: auto;
    height: 27px;
    margin: 0 4px;
}

.block-slider-4 .head h3 {
    padding: 15px 0;
    font-size: 22px;
    color: #c1282d;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
    text-align: center;
    font-style: italic;
}

.block-slider-4 .head:before {
    content: "";
    background: url(https://didongviet.vn/statics/noel/light-left.png) no-repeat;
    background-size: contain;
    width: 273px;
    height: 52px;
    top: 0;
    left: 15px;
    display: block;
    position: absolute;
}

.slider-custom .head:after {
    content: "";
    background: url(https://didongviet.vn/statics/noel/light-right.png) no-repeat;
    background-size: contain;
    width: 273px;
    height: 52px;
    top: 0;
    right: 15px;
    display: block;
    position: absolute;
}

#myCarousel1 {
    border: 1px solid #0159a0;
    background-color: #fff;
}

.fWrWoM .item {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 100px;
    flex-shrink: 0;
}

.fWrWoM .item>img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.fWrWoM .item>span {
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    width: 81px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fWrWoM {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 24px 0px;
    padding: 16px 0px;
    background: white;
    text-align: center;
}

.footer-about h3 {
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    margin-bottom: 6px;
    margin: 0 0 16px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
    white-space: nowrap;
}

.list-group {
    list-style: none;
}

.list-group li {
    padding: 3px 0;
    font-size: 1rem;
}

.form-control::placeholder {
    font-size: 12px;
}

.diachi1 p {
    margin-bottom: 5px;
    font-size: 11pt;
}

.copy-right {
    font-size: 90%;
    color: #eee;
    padding: 6px 0;
}

.copyright {
    text-align: center;
    background: #012f54;
}

.copyright .container {
    margin-bottom: 0;
}

.group3>a:not(:last-child) {
    border-bottom: 1px solid #ededed;
}

.zone-youtube {
    position: relative;
    width: 165px;
    overflow: hidden;
    border-radius: 4px;
}

.zone-youtube img {
    display: block;
    opacity: 1;
    width: 100%;
    height: 86px;
    object-fit: cover;
}

.group3>a>P {
    display: -webkit-box;
    width: calc(86% - 20px);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 10px;
    line-height: 20px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 62px;
    overflow: hidden;
}

.group3>a {
    display: inline-flex;
    padding: 0 0 10px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 0 10px 0;
}

.zone-youtube1 img {
    width: 100%;
    height: 100%;
    max-height: 325px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-radius: unset;
}

.fl {
    height: auto;
    overflow: hidden;
    float: left;
    border: 1px solid #ededed;
    border-radius: 4px;
    flex-grow: 2.1;
    margin-bottom: 10px;
}

.fl h6 {
    padding: 6px;
}

.zone-youtube1-item img {
    width: 100%;
    border-radius: 4px;
    height: 160px;
    object-fit: cover;
}

.content {
    padding: 6px 12px;
}

@media (min-width: 1300px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1350px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}

@media (max-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
    .st-promoProduct__item .info .center {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        margin-bottom: 4px;
        font-size: 14px;
    }
    .container {
        width: inherit;
    }
}


/* Loading */

#preload-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgb(0 0 0 / 32%);
    z-index: 99999999999 !important;
}

.square-block {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite 0.95s linear;
    -moz-animation: circle infinite 0.95s linear;
    -o-animation: circle infinite 0.95s linear;
    animation: circle infinite 0.95s linear;
    border: 3px solid #1775ca;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

hr,
hr.large {
    border-color: #ededed;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #48a3f6;
    text-indent: -9999px;
    display: none;
    z-index: 999;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #418fd6;
    opacity: 1;
}


/* ================================================================================================ Footer =============================================================== */

.wp-footer {
    background: #fff;
    padding: 25px 0 15px;
}

@media screen and (max-width: 420px) {
    .footer-inner {
        display: block !important;
    }
    .stroll-cauhinh {
        padding: 8px 10px !important;
    }
}

.wp-footer .footer-inner ul li a {
    font-size: 14.5px;
    color: #3399d2;
    margin-bottom: 10px;
}

.advice p {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0px;
}

.advice {
    margin-bottom: 5px;
}

.advice a {
    font-size: 20px;
    font-weight: bold;
    color: #d0021b;
}

.advice span {
    font-size: 15px;
    position: relative;
    top: -2px;
}

.sp-payment p {
    margin-top: 20px;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0px;
}

.feedback p {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0px;
}

.feedback A {
    font-size: 20px;
    font-weight: bold;
    color: #d0021b;
}

.grid__row {
    display: flex;
    flex: wrap;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .row-slide {
        padding: 0 46px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1500px;
    }
    .hotline {
        display: none;
    }
}


/*@media (min-width: 1250px) {*/


/*    .container {*/


/*        max-width: 1310px;*/


/*    }*/


/*}*/

@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

.address-branch {
    margin-top: 10px;
    display: none;
}

.address-branch i {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #b70b0b;
    font-size: 14px;
    width: 25px;
    height: 25px;
}

.address-branch span {
    color: #fff;
    font-size: 15px;
    padding-left: 5px;
}

.icon-gift-bonus {
    padding-right: 1px;
    font-size: 14px;
    color: #e01010;
}

.gift-bonus {
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.no-data-notice {
    width: 100%;
    text-align: center;
}

.no-data-notice img {
    width: 25%;
    margin: auto;
}

.no-data-notice h3.no-data {
    text-align: center;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px;
}

.wp-answer p img {
    width: 100%;
}